*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

form{
 background-color: rgb(97, 97, 153);
 margin: 50px auto;
 max-width: 500px;
 padding: 24px;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
}
form input,button{
 padding: 8px 12px;
 margin: 15px 0;
}
form button{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
}